
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<div class="container body-content">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Indicador</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("_CrearIndicador")
        </div>
        <div class="col-lg-12 ">
            <br />
            @Html.Partial("_TablaIndicador")
        </div>
    </div>

</div>



@Html.Partial("_ModalTipoIndicador")

@Html.Partial("_ModalGrupoIndicador")
<script type="text/javascript">


    $(document).ready(function () {
        $(".dataTable").DataTable({
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Buscar"
            }
        });
        $('.listasDesplegables').select2({
            placeholder: "Seleccione"
        });

    });

    $(document).on("click", ".btnEliminar", function () {
    });

</script>

