<style>

    /*
        ==============================================================
        LOS ESTILOS SON TEMPORALES, MOVER A UN ARCHIVO POR APARTE
        ==============================================================
    */

    .divFormulaCalculo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .divFormulaCalculo .titulo {
            border-radius: 10px 10px 0px 0px;
            color: white;
            background-color: var(--blue-fonatel);
        }

        .divFormulaCalculo .controles {
            padding: 10px;
            background-color: var(--gray-fonatel);
        }

        .divFormulaCalculo .formula {
            font-weight: bold;
        }

    @@media (max-width: 920px) {
        .divFormulaCalculo div {
            width: 100%;
        }
    }

</style>

<div class="row divFormulaCalculo">
    @Html.Partial("_ModalFechaFormulaCalculo")

    <div class="titulo col-lg-8 col-md-8 col-sm-12 text-center">
        <h4 class="text-leftThe">Fórmula Porcentaje</h4>
    </div>

    <div class="controles col-lg-8 col-md-8 col-sm-12 text-center">
        <button type="button" class="btn btn-outline-dark btn-sm" id="btnCalendarFormula"><span class="glyphicon glyphicon-calendar"></span></button>
        <button type="button" class="btn btn-outline-dark btn-sm" id="btnSumarFormula" value="+"><span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-outline-dark btn-sm" id="btnRestarFormula"><span class="glyphicon glyphicon-minus"></span></button>
        <button type="button" class="btn btn-outline-dark btn-sm" id="btnMultiplicarFormula"><span class="glyphicon glyphicon-remove"></span></button>
        <button type="button" class="btn btn-outline-dark btn-sm" id="btnDividirFormula"><span class="spanico">/</span></button>
        <button type="button" class="btn btn-outline-dark btn-sm" id="btnMenorQueFormula"><span class="spanico"><</span></button>
        <button type="button" class="btn btn-outline-dark btn-sm" id="btnMayorFormula"><span class="spanico">></span></button>
        <button type="button" class="btn btn-outline-dark btn-sm" id="btnMenorIgualQueFormula"><span class="spanico"><=</span></button>
        <button type="button" class="btn btn-outline-dark btn-sm" id="btnMayorIgualQueFormula"><span class="spanico">>=</span></button>
        <button type="button" class="btn btn-outline-dark btn-sm" id="btnIgualQueFormula"><span class="spanico">=</span></button>
        <button type="button" class="btn btn-outline-dark btn-sm" id="btndleftFormula" title=""><span class="spanico">(</span></button>
        <button type="button" class="btn btn-outline-dark btn-sm" id="btnrightFormula" title=""><span class="spanico">)</span></button>
        <button type="button" class="btn btn-outline-dark btn-sm" id="btnConstanteFormula" title="Click para agregar constante numerica"><span class="glyphicon glyphicon-plus-sign"></span></button>
        <button type="button" class="btn btn-outline-dark btn-sm" id="btnResetFormula" title="Borrar Fórmula"><span class="glyphicon glyphicon-refresh"></span></button>
        <button type="button" class="btn btn-outline-dark btn-sm" id="btnRemoverItemFormula" title="Remover item de fórmula"><span class="glyphicon glyphicon-trash"></span></button>
        <button type="button" class="btn btn-outline-dark btn-sm" id="btnVerformulaFormula" title="Mostrar Fórmula"><span class="    glyphicon glyphicon-floppy-disk"></span></button>

    </div>
    <div class="formula col-lg-8 col-md-8 col-sm-12 text-center">
        FTRB01-1 + FTRB01-2
    </div>
</div>
