
@using GB.SIMEF.Resources;

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group row">
                    <label for="ddlDireccionFormula" class="col-sm-12 col-form-label">Dirección</label>
                    <div class="col-sm-12">
                        <div class="select2-wrapper">
                            <select class=" listasDesplegables" id="ddlDireccionFormula">
                                <option></option>
                                <option value="1">FONATEL</option>
                                <option value="2">MERCADOS</option>
                                <option value="3">CALIDAD</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div name="divDireccionFonatel" class="col-sm-4">
                <div class="form-group row">
                    <label for="ddlGrupoFonatel" class="col-sm-12 col-form-label">GRUPO</label>
                    <div class="col-sm-12">
                        <div class="select2-wrapper">
                            <select class=" listasDesplegables" id="ddlGrupoFonatel">
                                <option></option>
                                <option value="1">GRUPO 1</option>
                                <option value="2">GRUPO 2</option>
                                <option value="3">GRUPO 3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div name="divDireccionFonatel" class="col-sm-4">
                <div class="form-group row">
                    <label for="ddlClasificacionFonatel" class="col-sm-12 col-form-label">Clasificación</label>
                    <div class="col-sm-12">
                        <div class="select2-wrapper">
                            <select class=" listasDesplegables" id="ddlClasificacionFonatel">
                                <option></option>
                                <option value="1">Entrada</option>
                                <option value="2">Salida</option>
                                <option value="3">Entrada/salida</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-sm-12 text-center">
        <button type="submit" id="btnAtrasFuentes" class="btn btn-fonatel btn-info-fonatel">Atras</button>
        <button type="submit" id="btnGuardarFuentesCompleto" class="btn btn-fonatel btn-info-fonatel">Finalizar</button>
    </div>
</div>
