
<div class="table-responsive table-wrapper-fonatel">
    <table id="TableaIndicadoresVariable" class="dataTable datatable_simef table-bordered table-condensed table-hover no-footer">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Descripción</th>
                <th scope="col">Valor Total</th>
                <th id="columnaDetalleTabla" scope="col">Detalle</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">FTRB01-1</td>
                <td>CPSP Conectados Programa 1</td>
                <td>
                    <input type="checkbox" />
                </td>
                <td>
                    <button type="submit" id="btnAgregarDetalleAgregacion" class="btn-icon-base btn-touch" data-toggle="tooltip" data-placement="top" title="Agregar detalle"></button>
                </td>
                <td>
                    <button type="submit" id="" class="btn-icon-base btn-add" data-toggle="tooltip" data-placement="top" title="Agregar"></button>
                </td>
            </tr>

            <tr>
                <td scope="row">FTRB02-2</td>
                <td>CPSP Conectados Programa 2</td>
                <td>
                    <input type="checkbox" />
                </td>
                <td>
                    <button type="submit" id="btnEliminarDetalleAgregacion" class="btn-icon-base btn-touch-disabled" data-toggle="tooltip" data-placement="top" title="Eliminar detalle"></button>
                </td>
                <td>
                    <button type="submit" id="" class="btn-icon-base btn-add" data-toggle="tooltip" data-placement="top" title="Agregar"></button>
                </td>
            </tr>

        </tbody>

    </table>
</div>







