


<div class="table-responsive table-wrapper-fonatel">
    <table id="TableaIndicadoresVariable" class="dataTable datatable_simef table-bordered table-condensed table-hover no-footer">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acumulación</th>
                <th scope="col">Valor Total</th>
                <th scope="col">Detalle Desagregación</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">FTRB01-1</td>
                <td>CPSP Conectados Programa 1</td>
                <td>
                    <div class="select2-wrapper">
                        <select class=" listasDesplegables">
                            <option></option>
                            <option value="1">Total</option>
                            <option value="2">Mensual</option>
                            <option value="3">Anual</option>
                        </select>
                    </div>
                </td>
                <td>
                    <input type="checkbox"/>

                </td>
                <td>Fuente 1</td>
                
            </tr>

        </tbody>

    </table>
</div>







