
@{
    ViewBag.Title = "Fórmulas de Cálculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="text-right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item active"><a href='@Html.Action( "Index","FormulaCalculo")'>Fórmulas de Cálculo</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Crear Fórmula de Cálculo</li>
                </ol>
            </nav>
        </div>
    </div>
</div>




<div class="stepwizard col-sm-offset-3">
    <div class="stepwizard-row setup-panel step_navigation_indicador">
        <div class="stepwizard-step" data-step="0">
            <p>Indicardor</p>
            <a href="#step-1" type="button" class="btn btn-circle">1</a>

        </div>
        <div class="stepwizard-step" data-step="1">
            <p>Fórmula</p>
            <a href="#step-2" type="button" class="btn btn-circle">2</a>

        </div>
    </div>
</div>




<div class="row stepwizard-content-container hidden" id="step-1">
    <div class="col-lg-12">
        <h2 class="page-title-fonatel text-center">Crear Fórmula de Cálculo</h2>
        <hr />
    </div>
    <div class="col-lg-12">

        @Html.Partial("_CrearFormula")
    </div>
</div>



<div class="row stepwizard-content-container hidden" id="step-2">
    <div class="col-sm-12">
        <h2 class="page-title-fonatel text-center">Gestión de Fórmulas</h2>
        <hr />
    </div>
    <div class="col-sm-12">

        @Html.Partial("_GestionFormulas")
    </div>
    <div class="col-sm-12">
        @Html.Partial("_tablaIndicadores")
    </div>

</div>




