@model GB.SUTEL.UI.Models.SolicitudViewModels


    <form id="formNotificar" method="post"
          action="@Url.Action("Notificar")" data-ajax="true"
          data-ajax-message="Notificando Solicitud Indicador...">

        @Html.Hidden("ItemNotificar", "", new { @id = "ItemNotificar" })
        <div class="modal fade" id="modalAyuda">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Ayuda sobre el indicador</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                               
                                <div class="col-md-10" id="contenidoModalAyuda">
                               
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" title="Aceptar">Aceptar</button>
                       
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </form>