.vs/
GB.SIMEF.API/bin
GB.SIMEF.API/obj

GB.SIMEF.BD/bin
GB.SIMEF.BD/obj

GB.SIMEF.BL/bin
GB.SIMEF.BL/obj

GB.SIMEF.DAL/bin
GB.SIMEF.DAL/obj

GB.SIMEF.Entities/bin
GB.SIMEF.Entities/obj

GB.SIMEF.EnvioCorreo/bin
GB.SIMEF.EnvioCorreo/obj

GB.SIMEF.Excel/bin
GB.SIMEF.Excel/obj

GB.SIMEF.Resources/bin
GB.SIMEF.Resources/obj

GB.SIMEF.Shared/bin
GB.SIMEF.Shared/obj



GB.SUTEL.BL/bin
GB.SUTEL.BL/obj

GB.SUTEL.DAL/bin
GB.SUTEL.DAL/obj

GB.SUTEL.Entities/bin
GB.SUTEL.Entities/obj

GB.SUTEL.ExceptionHandler/obj

GB.SUTEL.Reglas/bin
GB.SUTEL.Reglas/obj

GB.SUTEL.Resources/bin
GB.SUTEL.Resources/obj

GB.SUTEL.Shared/bin
GB.SUTEL.Shared/obj

GB.SUTEL.UI/bin
GB.SUTEL.UI/obj

SutelSolution/bin
SutelSolution/obj
/SITEL/GB.SIMEF.BD
