@using GB.SIMEF.Resources;
<div class="table-responsive table-wrapper-fonatel">

    <table id="TablaDetalleTexto" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col" width="25%">@EtiquetasViewGestionTextoSIGITEL.Orden</th>
                <th scope="col" width="25%">@EtiquetasViewGestionTextoSIGITEL.TipoDetalle</th>
                <th scope="col" width="25%">@EtiquetasViewGestionTextoSIGITEL.Detalle</th>
                <th scope="col" width="25%" class="noExport">@Etiquetas.Acciones</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>

    </table>

</div>


