<table id="TableCategoriaDesagregacion" class="dataTable datatable_simef">
    <thead>
        <tr>
            <th scope="col" style="width:10%">Código</th>
            <th scope="col" style="width:20%">Nombre</th>
            <th scope="col" style="width:10%">Grupo</th>
            <th scope="col" style="width:10%">Tipo</th>
            <th scope="col" style="width:10%">Estado</th>
            <th scope="col" class="text-center" style="width:10%">Variable</th>
            <th scope="col" class="text-center" style="width:10%">Categoría</th>
            <th scope="col" class="text-center" style="width:20%">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">IP1Tor</th>
            <td>Torres según estado</td>
            <td>Programa 1</td>
            <td>Gestión</td>
            <td>Inactivo</td>
            <td class="text-center">
                <button type="button" data-toggle="tooltip" data-placement="top" title="Agregar Detalle Variables Dato" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </td>
            <td class="text-center">
                <button type="button" data-toggle="tooltip" data-placement="top" title="Agregar Categoria de Desagregación" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </td>
            <td class="text-center">
                <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-primary"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Activar" class="btn btn-default btnEliminar"><i class="glyphicon glyphicon-off" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-danger btnEliminar"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn btn-info"><i class="fa fa-clone" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <th scope="row">IP1CPSP</th>
            <td>CPSP Conectados</td>
            <td>Programa 2</td>
            <td>Cumplimiento</td>
            <td>En Proceso</td>
            <td class="text-center">
                <button type="button" data-toggle="tooltip" data-placement="top" title="Agregar Detalle Variables Dato" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </td>
            <td class="text-center">
                <button type="button" data-toggle="tooltip" data-placement="top" title="Agregar Categoria de Desagregación" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </td>
            <td class="text-center">
                <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-primary"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Desactivar" class="btn btn-orange disabled"><i class="glyphicon glyphicon-off" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-danger btnEliminar"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn btn-info"><i class="fa fa-clone" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <th scope="row">IP2Hog</th>
            <td>Hogares Beneficiarios</td>
            <td>Programa 2</td>
            <td>Beneficiario</td>
            <td>Activo</td>
            <td class="text-center">
                <button type="button" data-toggle="tooltip" data-placement="top" title="Agregar Detalle Variables Dato" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </td>
            <td class="text-center">
                <button type="button" data-toggle="tooltip" data-placement="top" title="Agregar Categoria de Desagregación" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </td>
            <td class="text-center">
                <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-primary"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Desactivar" class="btn btn-orange btnEliminar"><i class="glyphicon glyphicon-off" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-danger btnEliminar"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn btn-info"><i class="fa fa-clone" aria-hidden="true"></i></button>
            </td>
        </tr>
    </tbody>

</table>
