<table id="TableCategoriaDesagregacion" class="dataTable">
    <thead>
        <tr>
            <th scope="col" style="width:17%">Código</th>
            <th scope="col" style="width:17%">Nombre</th>
            <th scope="col" style="width:17%">Grupo</th>
            <th scope="col" style="width:17%">Tipo</th>
            <th scope="col" class="text-center" style="width:32%">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">IP1Tor</th>
            <td>Torres según estado</td>
            <td>Programa 1</td>
            <td>Gestión</td>
            <td class="text-center">
                <button type="button" data-toggle="tooltip" data-placement="top" title="Inactivar" class="btn btn-warning"><i class="glyphicon glyphicon-off" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-primary"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-danger btnEliminar"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn btn-info"><i class="fa fa-clone" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <th scope="row">IP1CPSP</th>
            <td>CPSP Conectados</td>
            <td>Programa 2</td>
            <td>Cumplimiento</td>
            <td class="text-center">
                <button type="button" data-toggle="tooltip" data-placement="top" title="Activar" class="btn btn-default"><i class="glyphicon glyphicon-off" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-primary"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-danger btnEliminar"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn btn-info"><i class="fa fa-clone" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <th scope="row">IP2Hog</th>
            <td>Hogares Beneficiarios</td>
            <td>Programa 2</td>
            <td>Beneficiario</td>
            <td class="text-center">
                <button type="button" data-toggle="tooltip" data-placement="top" title="Inactivar" class="btn btn-warning"><i class="glyphicon glyphicon-off" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-primary"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-danger btnEliminar"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn btn-info"><i class="fa fa-clone" aria-hidden="true"></i></button>
            </td>
        </tr>
    </tbody>

</table>
