#ui-datepicker-div{
        background:#FFf;
        border-radius:5px;
        border:#ccc;
    }
    .ui-datepicker-title{
        text-align:center;
        font-weight:bold;
    }
    #ui-datepicker-div > div > a.ui-datepicker-next.ui-corner-all > span,#ui-datepicker-div > div > a.ui-datepicker-prev.ui-corner-all > span{
        cursor:pointer;
        text-decoration:none;
        color:#FFF;
        padding:4px;
    }
    .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{
        color:#FFF;
        background-color: #0671AE;
    }
    .ui-datepicker-next.ui-corner-all[data-handler="next"]{
        float:right;
    }
    #ui-datepicker-div > table > tbody > tr > td{
        text-align:center;
    }
    #ui-datepicker-div > table > tbody > tr > td > a{
        padding: 8px;
        color: #0671AE;
        cursor: pointer;
        text-decoration: none;
          
        width: 100%;
        display: inline-block;
    }
    #ui-datepicker-div > table > tbody > tr > td > a:hover{
        background:#ddd;
    }
    .ui-datepicker-calendar{
        border: solid 1px #0671AE;
    }