
.azul-sutel {
    background-color: #006672 !important;
    color: #ffffff !important;
}

.sutelColor {
    background-color: #006672 !important;
    color: #ffffff !important;
}

.text-sutel {
    color: #006672;
}

input, select, textarea {
    max-width: 100% !important;
    resize:none;
}

.offset-md-9 {
    margin-left: 75%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #006672;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: 45%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.input-icon-wrap {
    display: flex;
    flex-direction: row;
}

th,td{
    vertical-align:middle !important;
}