@model Tuple<List<GB.SUTEL.Entities.Frecuencia>, GB.SUTEL.Entities.Frecuencia>


@{
    ViewBag.Title = "Mantenimiento de Frecuencias";
}

<h4>Mantenimiento de Frecuencias</h4>

<br />

<!-- Small modal -->
@if (GB.SUTEL.UI.Helpers.rolValidation.ValidateScreenFunctions(this.Context, "Frecuencia", "Crear"))
{
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalCrearFrecuencia">Nuevo</button>
}
<p />
@if (GB.SUTEL.UI.Helpers.rolValidation.ValidateScreenFunctions(this.Context, "Frecuencia", "Consultar"))
{
    <div id="vistaFreciencia">
        @{Html.RenderPartial("_table", Tuple.Create(Model.Item1));}
    </div>
}
@{Html.RenderPartial("Crear", Model.Item2);}
@if (GB.SUTEL.UI.Helpers.rolValidation.ValidateScreenFunctions(this.Context, "Frecuencia", "Editar"))
{
    { Html.RenderPartial("Editar", Model.Item2); }
}
@{Html.RenderPartial("Eliminar", Model.Item2);}


                     @section Scripts
{
                         <script src="@Url.Content("~/Scripts/Mantenimientos/Frecuencia.js")"></script>
                     }

