<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
	</configSections>
	<connectionStrings>
		  <add name="SUTEL_IndicadoresEntities" connectionString="metadata=res://*/ModeloIndicadores.csdl|res://*/ModeloIndicadores.ssdl|res://*/ModeloIndicadores.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=20.127.147.228;initial catalog=SITELP;User ID=sa;Password=Mchlndrs609;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
			<add connectionString="Server=20.127.147.228;Database=SITELP;User ID=sa;Password=Mchlndrs609" name="SITELEntities" providerName="System.Data.SqlClient" />
			<add connectionString="Server=20.127.147.228;Database=SIMEFBD;User ID=sa;Password=Mchlndrs609" name="SIMEFEntities" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="VersionSistema" value="7.1" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="1500000" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="SutelActiveDirectory" value="grupobabel.com" />
		<add key="SutelADuser" value="gb/jose.molina" />
		<add key="SutelADpassword" value="Sharon2019." />
		<add key="AdministratorUser" value="admin" />
		<add key="passwordMailingDBProfile" value="SCI_Notificaciones" />
		<add key="URLPlantillaNotificacion" value="../Content/Plantillas/notificaciones.html" />
		<add key="AsuntoNotificacion" value="Notificación de Solicitud" />
		<add key="ReportPath" value="/" />
		<add key="CarpetaReportesServer" value="SCI_REPORTES" />
		<add key="URLReport" value="http://prosutel/ReportServer" />
		<add key="usuarioSSRS" value="adriana.segura" />
		<add key="passwordSSRS" value="Password123" />
		<add key="dominioSSRS" value="GB" />
		<add key="ReporteTipoIndicadorPorServicio" value="Reporte-Tipo-Indicador-por-Servicio" />
		<add key="ReporteIndicadorPorServicio" value="Reporte-Indicador-Por-Servicio" />
		<add key="ReporteIndicadorPorOperador" value="Indicadores-por-Operador" />
		<add key="ReporteDetalleAgrupacionPorAgrupacion" value="Reporte-Detalle-de-Agrupación-por-Agrupación" />
		<add key="ReporteBitacora" value="Reporte-Bitacoras" />
		<add key="enableOffice2003" value="true" />
		<add key="AsuntoNotificacionObservacion" value="Notificación de Observación" />
		<add key="rutaCarpetaBrochure" value="G:\Archivo" />
		<add key="TiempoDeCierreDeSesion" value="30" />
		<add key="FunciondeArrastre" value="true" />
		<add key="rutaCarpetaReemplazar" value="C:\Archivo\Reemplazar" />
		<add key="rutaCarpetaInsertar" value="C:\Archivo\Insertar" />
    <add key="rutaCarpetaSimef" value="E:\SIMEF" />
		<add key="rutaCarpetaPlantillas" value="C:\Plantillas Sutel" />
		<add key="ModificadorMasivoDetalleRegistroIndicador" value="C:\Plantillas Sutel" />
	</appSettings>

	<!--<appSettings>
    <add key="VersionSistema" value="7.1"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="1500000"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="SutelActiveDirectory" value="192.168.210.14"/>
    <add key="SutelADuser" value="sutel/bi.user"/>
    <add key="SutelADpassword" value="Sutel15BI"/>
    <add key="AdministratorUser" value="admin"/>
    <add key="passwordMailingDBProfile" value="SCI_Notificaciones"/>
    <add key="URLPlantillaNotificacion" value="../Content/Plantillas/notificaciones.html"/>
    <add key="AsuntoNotificacion" value="Notificación de Solicitud"/>
    <add key="ReportPath" value="/"/>
    <add key="CarpetaReportesServer" value="SITEL_REPORTES"/>
    <add key="URLReport" value="http://sql-prod.sutel.go.cr/ReportServer_SUTELSQLPROD"/>
    <add key="usuarioSSRS" value="bi.user"/>
    <add key="passwordSSRS" value="Sutel15BI"/>
    <add key="dominioSSRS" value="SUTEL"/>
    <add key="ReporteTipoIndicadorPorServicio" value="Reporte-Tipo-Indicador-por-Servicio"/>
    <add key="ReporteIndicadorPorServicio" value="Reporte-Indicador-Por-Servicio"/>
    <add key="ReporteIndicadorPorOperador" value="Indicadores-por-Operador"/>
    <add key="ReporteDetalleAgrupacionPorAgrupacion" value="Reporte-Detalle-de-Agrupación-por-Agrupación"/>
    <add key="ReporteBitacora" value="Reporte-Bitacoras"/>
    <add key="enableOffice2003" value="false"/>
    <add key="rutaCarpetaReemplazar" value="C:\inetpub\wwwroot\SITELPruebas\Content\Archivos\Reemplazar"/>
    <add key="rutaCarpetaInsertar" value="C:\inetpub\wwwroot\SITELPruebas\Content\Archivos\Insertar"/>
    <add key="rutaCarpetaPlantillas" value="C:\inetpub\wwwroot\SITELPruebas\Content\Archivos\SITEL"/>
    <add key="AsuntoNotificacionObservacion" value="Notificación de Observación"/>
    <add key="TiempoDeCierreDeSesion" value="120"/>
    <add key="FunciondeArrastre" value="true"/>
    <add key="rutaCarpetaBrochure" value="C:\inetpub\wwwroot\SITELPruebas\Content\ArchivoBrochure"/>
  </appSettings>-->
	<system.web>
		<globalization culture="es-cr" uiCulture="es-cr" />
		<trust level="Full" />
		<customErrors mode="Off">
			<error statusCode="404" redirect="/Error/Error404" />
		</customErrors>
		<authentication mode="None" />
		<compilation targetFramework="4.5" debug="true">
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			</buildProviders>
		</compilation>
		<httpRuntime targetFramework="4.5" executionTimeout="100000" maxRequestLength="1073744" />
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
			<add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
		</httpHandlers>
		<sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" />
		<pages enableSessionState="true">
			<controls>
				<add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- This will handle requests up to 60MB -->
				<requestLimits maxAllowedContentLength="1083741824" />
			</requestFiltering>
		</security>
		<!--  30408704 -->
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			<remove name="BotDetectCaptchaHandler" />
			<add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845DCD8080CC91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<botDetect helpLinkEnabled="true" helpLinkMode="image" />
</configuration>