@model GB.SUTEL.UI.Models.NivelViewModels
@{
    ViewBag.Title = "Mantenimiento de Nivel";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Mantenimientos/Nivel.js")"></script>
}



<h4>Mantenimiento de Nivel</h4>

<br />

<!-- Small modal -->
@if (GB.SUTEL.UI.Helpers.rolValidation.ValidateScreenFunctions(this.Context, "Nivel", "Crear"))
{
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalCrearNivel">Nuevo</button><p></p>
}

@if (GB.SUTEL.UI.Helpers.rolValidation.ValidateScreenFunctions(this.Context, "Nivel", "Consultar"))
{
    <div id="vistaNiveles">
        @{Html.RenderPartial("_table");}
    </div>
}
@{Html.RenderPartial("Crear");}
@{Html.RenderPartial("Editar");}
@{Html.RenderPartial("Eliminar");}



