
<form>
    <div class="row">
        <div class="col-lg-4 col-sm-12">

            <div class="form-group row">
                <label for="txtCodigo" class="col-sm-12 col-form-label">Código</label>
                <div class="col-sm-12">
                    <input type="text" aria-label="Código de categoria" class="form-control form-control-fonatel " id="txtCodigo" placeholder="Código">
                    <small id="CodigoHelp" class="form-text form-text-danger-fonatel">El Código es requerido</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="txtNombre" class="col-sm-12 col-form-label">Nombre</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-fonatel " id="txtNombre" placeholder="Nombre">
                    <small id="nombreHelp" class="form-text form-text-danger-fonatel">El nombre es requerido</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="ddlTipo" class="col-sm-12 col-form-label">Tipo</label>
                <div class="col-sm-12">
                    <div class="select2-btn-wrapper">
                        <select class="listasDesplegables" aria-label="Default select example" id="ddlTipo">
                            <option></option>
                            <option value="1">gestión</option>
                            <option value="2">cumplimiento de meta</option>
                            <option value="3">beneficiarios</option>
                            <option value="3">financieros</option>
                            <option value="3">evaluación</option>
                            <option value="3">percepción</option>
                        </select>
                        <button class="btn-icon-base btn-add" data-toggle="modal" data-target="#modalTipo" title="Agregar Tipo" alt="Agregar Detalle"></button>
                    </div>


                    <small id="TipoHelp" class="form-text form-text-danger-fonatel">El tipo es requerido</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="ddlFrecuencias" class="col-sm-12 col-form-label ">Frecuencias</label>
                <div class="col-sm-12">
                    <div class="select2-wrapper">
                        <select class="listasDesplegables" aria-label="Default select example" id="ddlFrecuencias">
                            <option></option>
                            <option value="1">Mensual</option>
                            <option value="2">Trimestral</option>
                        </select>
                    </div>
                    <small id="FrecuenciasHelp" class="form-text form-text-danger-fonatel">La Uso es requerido</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-12">


            <div class="form-group row">
                <label for="ddlClasificacion" class="col-sm-12 col-form-label ">Clasificación</label>
                <div class="col-sm-12">
                    <div class="select2-wrapper">
                        <select class="listasDesplegables" aria-label="Default select example" id="ddlClasificacion">
                            <option></option>
                            <option value="1">Entrada</option>
                            <option value="2">Salida</option>
                            <option value="3">Entrada/salida</option>
                        </select>
                    </div>

                    <small id="TipoHelp" class="form-text form-text-danger-fonatel">La Clasificación es requerido</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="ddlTipoMedida" class="col-sm-12 col-form-label ">Tipo de Medida</label>
                <div class="col-sm-12">
                    <div class="select2-wrapper">
                        <select class="listasDesplegables" aria-label="Default select example" id="ddlTipoMedida">
                            <option></option>
                            <option value="1">Cualitativo</option>
                            <option value="2">Cuantitativo</option>
                        </select>
                    </div>
                    <small id="ddlTipoMedidaHelp" class="form-text form-text-danger-fonatel">El Tipo Medida es requerida</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="ddlGrupo" class="col-sm-12 col-form-label ">Grupo</label>
                <div class="col-sm-12">
                    <div class="select2-btn-wrapper">
                        <select class=" listasDesplegables" aria-label="Default select example" id="ddlGrupo">
                            <option></option>
                            <option value="1">Programa 1</option>
                            <option value="2">Programa 2</option>
                            <option value="3">Programa 3</option>
                        </select>
                        <button class="btn-icon-base btn-add" data-toggle="modal" data-target="#modalGrupo" title="Agregar Tipo" alt="Agregar Detalle"></button>
                    </div>
                    <small id="TipoHelp" class="form-text form-text-danger-fonatel">El Grupo es requerido</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="ddlUsoIndicador" class="col-sm-12 col-form-label ">Uso</label>
                <div class="col-sm-12">
                    <div class="select2-wrapper">
                        <select class="listasDesplegables" aria-label="Default select example" id="ddlUsoIndicador">
                            <option></option>
                            <option value="1">Interno</option>
                            <option value="2">Externo</option>
                        </select>
                    </div>
                    <small id="ddlUsoIndicadorHelp" class="form-text form-text-danger-fonatel">La Uso es requerido</small>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-sm-12">


            <div class="form-group row">
                <label for="txtCantidadVariableDatosIndicador" class="col-sm-12 col-form-label">Cantidad de Variables Dato</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-fonatel  solo_numeros" id="txtCantidadVariableDatosIndicador" placeholder="Cantidad de Variable Dato">
                    <small id="CantidadVariableDatosIndicadorHelp" class="form-text form-text-danger-fonatel">La Cantidad de Variable Dato es requerida</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="txtCantidadCategoriaIndicador" class="col-sm-12 col-form-label">Cantidad de Categorías de Desagregación</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-fonatel  solo_numeros" id="txtCantidadCategoriaIndicador" placeholder="Cantidad de Variable Dato">
                    <small id="CantidadCategoriaIndicadorHelp" class="form-text form-text-danger-fonatel">La Cantidad de Categorías es requerida</small>
                </div>
            </div>



            <div class="form-group row">
                <label for="ddlUnidadEstudio" class="col-sm-12 col-form-label ">Unidad de Estudio</label>
                <div class="col-sm-12">
                    <div class="select2-btn-wrapper">
                        <select class="listasDesplegables" aria-label="Default select example" id="ddlUnidadEstudio">
                            <option></option>
                            <option value="1">Cuenta de Torres</option>
                            <option value="2">Cuenta de Hogares</option>
                        </select>
                        <button class="btn-icon-base btn-add" data-toggle="modal" data-target="#modalUnidadEstudio" title="Agregar Tipo" alt="Agregar Detalle"></button>
                    </div>
                    <small id="ddlUnidadEstudioHelp" class="form-text form-text-danger-fonatel">El Grupo es requerido</small>
                </div>
            </div>


            <div class="form-group row">
                <label for="ddlSolicitudSolicitud" class="col-sm-12 col-form-label ">Solicitud</label>
                <div class="select2-wrapper">
                    <div class="col-sm-12">
                        <select class="listasDesplegables" id="ddlSolicitudSolicitud">
                            <option></option>
                            <option>SI</option>
                            <option>NO</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="form-group row">
                <label for="txtFuenteIndicador" class="col-sm-12 col-form-label">Fuentes</label>
                <div class="col-sm-12">
                    <textarea class="form-control form-control-fonatel" id="txtFuenteIndicador" placeholder="Notas"></textarea>
                    <small id="txtFuenteIndicadorHelp" class="form-text form-text-danger-fonatel">La Notas es requerido</small>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="form-group row">
                <label for="txtNota" class="col-sm-12 col-form-label">Notas</label>
                <div class="col-sm-12">
                    <textarea class="form-control form-control-fonatel  text-area" id="txtNota" placeholder="Notas"></textarea>
                    <small id="NotaHelp" class="form-text form-text-danger-fonatel">La Notas es requerido</small>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">

            <div class="form-group row">
                <label for="txtDescripcion" class="col-sm-12 col-form-label">Descripción</label>
                <div class="col-sm-12">
                    <textarea class="form-control form-control-fonatel" id="txtDescripcion" placeholder="Descripción de categoria"></textarea>
                    <small id="DescripcionHelp" class="form-text form-text-danger-fonatel">La Descripción es requerido</small>
                </div>
            </div>
        </div>
    </div>
        <div class="row mt-5">
            <div class="col-sm-12">

                <div class="text-center">
                    <button type="submit" id="btnGuardarIndicador" class="btn btn-fonatel btn-info-fonatel">Guardar</button>
                    <button type="submit" id="btnGuardarIndicador" class="btn btn-fonatel btn-success-fonatel">Siguiente</button>
                    <button type="submit" id="btnCancelarIndicador" class="btn btn-fonatel btn-error-fonatel">Cancelar</button>
                </div>
            </div>
        </div>
</form>



