@using GB.SIMEF.Resources;

<div class="table-responsive table-wrapper-fonatel" style="min-width:300px">
    <table id="tableDetallesVariable" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">@EtiquetasViewIndicadorFonatel.CrearVariable_LabelNombreVariable</th>
                <th scope="col">@EtiquetasViewIndicadorFonatel.CrearVariable_LabelDescripcionVariable</th>
                <th scope="col" class="not-export-col">@EtiquetasViewIndicadorFonatel.TablaColumnaAcciones</th>
            </tr>
        </thead>
        <tbody>

        </tbody>

    </table>
</div>