
<div class="table-responsive table-wrapper-fonatel"style="min-width:300px">
    <table id="TablaDetalleCategoriaIndicador" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>

                <th scope="col">Código</th>
                <th scope="col">Categoría</th>
                <th scope="col">Detalle</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Cat1-1</th>
                <td >Cantón</td>
                <td>San Isidro</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">Cat1-1</th>
                <td>Cantón</td>
                <td>Daniel Flores</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
        </tbody>

    </table>
</div>