

<div class="table-responsive table-wrapper-fonatel" style="min-width:300px">
    <table id="TableIndicador" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Grupo</th>
                <th scope="col">Tipo</th>
                <th scope="col">Estado</th>
                <th scope="col" class="not-export-col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                <th scope="row">IP2Hog</th>
                <td>Hogares Beneficiarios</td>
                <td>Programa 2</td>
                <td>Beneficiario</td>
                <td>Desactivado</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-clone"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Activar" class="btn-icon-base btn-power-on"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>*@
        </tbody>


        <tfoot>
            <tr>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th></th>
            </tr>
        </tfoot>

    </table>
</div>




