
@{
    ViewBag.Title = "Variables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">

    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item"><a href="/FonatelIndicador">Indicadores</a></li>
                <li class="breadcrumb-item active" aria-current="page">Varibles</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("_CrearVariable")
        </div>
        <div class="col-lg-12 mt-4">
            @Html.Partial("_TablaDetalleVariable")
        </div>
    </div>

</div>
