<footer class="footer footerColor">
    <div class="container ">
        <div style="float:left;">
            <div class="footerImagenTelefono"></div>
            <div style="width: 280px; color: #fff;padding-top:10px;">800-88 SUTEL (800-88-7-8835) | Tel. Oficina Central: 4000-0000</div>
        </div>
        <div style="float:right;">
            <div class="footerImagenDireccion"></div>
            <div style="width: 280px; color: #fff; padding-top: 10px;">Guachipelin de Escazú,Oficentro Multipark edificio Tapantí, 3er piso</div>
        </div>
        @*<p class="text-muted">Sistema de captura de indicadores. Sutel, 2015
            </p>*@
    </div>
</footer>