

<div class="table-responsive">

    <table id="TableDetalleFuentes" class="datatable_simef dataTable table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Yerlin</th>
                <td>Correo@prueba.com</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" value="4" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">Yerlin</th>
                <td>Correo@prueba.com</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" value="4" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">Yerlin</th>
                <td>Correo@prueba.com</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" value="4" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
        </tbody>

    </table>

</div>

