<table id="TableFuente" class="datatable">
    <thead>
        <tr>
            <th scope="col" style="width:35%">Fuente de Registros</th>
            <th scope="col" style="width:35%">Cantidad de Destinatarios</th>
            <th scope="col" class="text-center" style="width:30%">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Unidad de Gestión 1</th>
            <td>3</td>
            <td class="text-center">
                <a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Agregar Destinatario" alt="Agregar Destinatario" href="/Fonatel/Fuentes/Detalle/1"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-primary"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-danger btnEliminar"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>

            </td>
        </tr>
        <tr>
            <th scope="row">Unidad de Gestión 2</th>
            <td>10</td>
            <td class="text-center">
                <a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Agregar Destinatario" alt="Agregar Destinatario" href="/Fonatel/Fuentes/Detalle/1"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-primary"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-danger btnEliminar"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <th scope="row">Unidad de Gestion 3</th>
            <td>15</td>
            <td class="text-center">
                <a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Agregar Destinatario" alt="Agregar Destinatario" href="/Fonatel/Fuentes/Detalle/1"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-primary"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-danger btnEliminar"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <th scope="row">Unidad de Gestión 8</th>
            <td>2</td>
            <td class="text-center">
                <a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Agregar Destinatario" alt="Agregar Destinatario" href="/Fonatel/Fuentes/Detalle/1"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-primary"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-danger btnEliminar"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>

            </td>
        </tr>
    </tbody>

</table>
