@using GB.SIMEF.Resources;
@{
    ViewBag.Title = "Editar Formulario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<div class="container body-content">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editar de Formulario Web</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-title-fonatel text-center">Búsqueda de Formulario Web</h2>
            <hr />
        </div>
        <div class="col-sm-12 mt-5">

            @Html.Partial("_BusquedaFormulario")

        </div>
         @Html.Partial("_ModalEditarFormulario") 
    </div>
</div>
