
@using (Html.BeginForm("_tableMercadoWeb", "RegistroIndicador", FormMethod.Post))
{
    <input type="text" class="form-control" name="BreedsId" id="BreedsId">

    <button class="btn btn-primary" type="submit">Filtrar</button>
}
