
<div class="navbar navbar-default navbar-fixed-top mainNavBar">
    <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.Partial("header/_logo")
        </div>
        <div class="navbar-collapse collapse mainHeader">

            @Html.Partial("header/_menu")

            @Html.Partial("header/_infoUser")

        </div>
    </div>
</div>