<div class="modal fade" data-backdrop="static" id="modalClonarCategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="fa fa-close"></span>
                </button>
             

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="text-primary-simef text-center">Ingrese el Código de la Nueva Categoría</h3>
                    </div>
                     <div class="col-sm-12 mt-4">
                            <div class="form-group row">
                                <label for="txtCodigoClonCategoria" class="col-sm-12 col-form-label">Código</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="txtCodigoClonCategoria" placeholder="Ingrese el Nuevo Código">
                                    <small id="CodigoClonCategoriaHelp" class="form-text text-danger">El Código es requerido</small>
                                </div>
                            </div>
                       </div>
                    </div>
                </div>
            <div class="modal-footer ">
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
               
            </div>
        </div>
    </div>
</div>
