<h2 class="text-primary text-center">Crear Regla de Validación</h2>

<form class="mt-5">
    <div class="row">
        <div class="col-lg-6">
            <div class="justify-content-center">


                <div class="form-group row">
                    <label for="txtDescripcionRegla" class="col-sm-4 col-form-label">Descripción</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="txtDescripcionRegla" placeholder="Descripción de categoria">
                        <small id="DescripcionReglaHelp" class="form-text text-danger">El Descripción es requerido</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtCodigoRegla" class="col-sm-4 col-form-label">Código</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="txtCodigoRegla" placeholder="Código">
                        <small id="CodigoReglaHelp" class="form-text text-danger">El Código es requerido</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="txtNombreRegla" class="col-sm-4 col-form-label">Nombre</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="txtNombreRegla" placeholder="Nombre">
                        <small id="NombreReglaHelp" class="form-text text-danger">El Nombrees requerido</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ddlTipoRegla" class="col-sm-4 col-form-label ">Tipo de Regla</label>
                    <div class="col-sm-8">
                        <select class="form-control required listasDesplegables" aria-label="Default select example" id="ddlTipoRegla">
                            <option></option>
                            <option value="1">Cambio Mensual</option>
                            <option value="2">Contra otro Indicador</option>
                            <option value="3">Constante</option>
                            <option value="4">Atributos Validos</option>
                            <option value="5">Actualización Secuencial</option>
                        </select>
                        <br />
                        <small id="TipoReglaHelp" class="form-text text-danger">El tipo Regla es requerida</small>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-6">

            <div class="form-group row">
                <label for="ddlIndicador" class="col-sm-4 col-form-label ">Tipo de Regla</label>
                <div class="col-sm-8">
                    <select class="form-control required listasDesplegables" aria-label="Default select example" id="ddlIndicador">
                        <option></option>
                        <option value="1">Torres Según Estado</option>
                        <option value="2">Hogares Benificiados</option>
                        <option value="3">Dispositivos Entregados</option>
                    </select>
                    <br />
                    <small id="IndicadorHelp" class="form-text text-danger">El Indicador es requerida</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="ddlVariable" class="col-sm-4 col-form-label ">Variable Dato</label>
                <div class="col-sm-8">
                    <select class="form-control required listasDesplegables" aria-label="Default select example" id="ddlVariable">
                        <option></option>
                        <option value="1">Cantidad de Suscripciones</option>
                        <option value="2">Cantidad Torres</option>

                    </select>
                    <br />
                    <small id="VariableHelp" class="form-text text-danger">La Variable Dato es requerida</small>
                </div>
            </div>
        </div>

    </div>
    <div class="Row">
        <div class="col-lg-12 text-center">
            <button id="btnGuardarCategoria"  class="btn btn-success">Guardar</button>
            <button type="submit" class="btn btn-danger">Cancelar</button>
        </div>
    </div>
</form>

