<div class="table-responsive table-wrapper-fonatel" style="min-width:300px">
    <table id="TableReglaDesagregacion" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Reg1-1</th>
                <td>Ingremento Consistente</td>
                <td>Cambio Mensual</td>
                <td>Activo</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-clone"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">Reg2-1</th>
                <td>Validación Cruzada</td>
                <td>Contra Otro indicador</td>
                <td>Activo</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-clone"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">Reg3-1</th>
                <td>Validación Interna</td>
                <td>Contra Atributos Validos</td>
                <td>Activo</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-clone"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">Reg3-2</th>
                <td>Estado Según Proceso</td>
                <td>Actualización Secuencial</td>
                <td>Activo</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-clone"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th class="mostrar_fotter"></th>
                <th class="mostrar_fotter"></th>
                <th class="mostrar_fotter"></th>
                <th class="mostrar_fotter"></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>


