
<div class="table-responsive table-wrapper-fonatel"style="min-width:300px">
    <table id="TableDetalleVariable" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>

                <th scope="col">Variable</th>
                <th scope="col">Tipo Regla</th>
                <th scope="col">Operador</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Cantidad de Torres</th>
                <td>Fórmula contra otro indicador</td>
                <td>mayor o igual que</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">Estado de Torres</th>
                <td>Fórmula actualización secuencial</td>
                <td>menor o igual que</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
        </tbody>

    </table>
</div>