div.dataTables_wrapper div.dataTables_paginate {
    padding: 6px 9px !important;
    background: #54c5e6 !important;
    border-color: #2196F3 !important;
}
.alertify .ajs-footer .ajs-buttons.ajs-primary {
    text-align: center!important;
}
