<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>    
    <clear />
    
    <add name="Name"
     providerName="System.Data.SqlClient"
     connectionString= "Data Source=.\SQLMOL; Initial Catalog=SitelPruebas; User Id=sa; Password=Password123;"
       />
      <!--<add name="Name"
     providerName="System.Data.SqlClient"
     connectionString= "Data Source=192.168.210.19; Initial Catalog=SITELPruebas; User Id=bi.user2; Password=Sutel15BI;"
       /> -->
  </connectionStrings>
  
 <appSettings> 
   
    <add key="to" value="Jose.molina@grupobabel.com" />  <!--Digite en el atributo "value" el correo donde quiere que se envíen las notidicaciones de error --> 
    <add key="profileName" value="SCI_Notificaciones" />     <!--Digite en el atributo "value" el profile Name --> 

  
  </appSettings>
  
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>