<div class="table-responsive table-wrapper-fonatel">
    <table id="TablaRelacionCategoria" class="dataTable datatable_simef  table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Estado</th>
                <th scope="col">Detalle</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>


        <tfoot>
            <tr>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th></th>
                <th class="select2-wrapper"></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>

    </table>
</div>



