@using GB.SIMEF.Resources;
@model GB.SIMEF.Entities.RelacionCategoria

<div class="table-responsive  table-wrapper-fonatel">

        <table id="TablaDetalleRelacionCategoria" class=" dataTable datatable_simef  table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th scope="col">@Model.CategoriasDesagregacionid.NombreCategoria</th>
                    @foreach (var item in Model.DetalleRelacionCategoria)
                    {
                        <th scope="col">@item.CategoriaAtributo.NombreCategoria</th>
                    }
                    <th scope="col">@EtiquetasViewRelacionCategoria.Acciones</th>
                </tr>
            </thead>

            <tbody>
            </tbody>

        </table>
   

</div>




