<table id="TablaRelacionCategoria" class="datatable_simef" >
    <thead>
        <tr>
            <th scope="col" style="width:10%">Código</th>
            <th scope="col" style="width:40%">Nombre</th>
            <th scope="col" class="text-right" style="width:10%">Cantidad</th>
            <th scope="col" style="width:10%">Estado</th>
            <th scope="col" class="text-center" style="width:15%">Detalle</th>
            <th scope="col" class="text-center" style="width:15%">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Rel1-1</th>
            <td>Relación Proyecto</td>
            <td class="text-justify text-center">800/800</td>
            <td>En Proceso</td>
            <td class="text-center">
                <button name="BtnAgregarCSV" type="button" data-toggle="tooltip" data-placement="top" title="Agregar Detalle" class="btn btn-success-out"><i class="fa fa-upload" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Descargar Plantilla" class="btn btn-purple-out"><i class="fa fa-download" aria-hidden="true"></i></button>
            </td>
            <td class="text-center">
                @*<a class="btn btn-success-out" data-toggle="tooltip" data-placement="top" title="Agregar Detalle" alt="Agregar Detalle" href="/Fonatel/RelacionCategoria/Detalle/1"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a>*@
                <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-primary-out"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-danger-out btnEliminarRelacion"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <th scope="row">Rel1-2</th>
            <td>Relación Torre</td>
            <td class="text-justify text-center">30/30</td>
            <td>Activo</td>
            <td class="text-center">
                <button name="BtnAgregarCSV" type="button" data-toggle="tooltip" data-placement="top" title="Agregar Detalle" class="btn btn-success-out"><i class="fa fa-upload" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Descargar Plantilla" class="btn btn-purple-out"><i class="fa fa-download" aria-hidden="true"></i></button>
            </td>
            <td class="text-center">
                @*<a class="btn btn-success-out" data-toggle="tooltip" data-placement="top" title="Agregar Detalle" alt="Agregar Detalle" href="/Fonatel/RelacionCategoria/Detalle/1"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a>*@
                <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-primary-out"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-danger-out btnEliminarRelacion"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <th scope="row">Rel1-3</th>
            <td>Rlación CPSP</td>
            <td class="text-justify text-center">6/5</td>
            <td>Activo</td>
            <td class="text-center">
                <button name="BtnAgregarCSV" type="button" data-toggle="tooltip" data-placement="top" title="Agregar Detalle" class="btn btn-success-out"><i class="fa fa-upload" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Descargar Plantilla" class="btn btn-purple-out"><i class="fa fa-download" aria-hidden="true"></i></button>
            </td>
            <td class="text-center">
                @*<a class="btn btn-success-out" data-toggle="tooltip" data-placement="top" title="Agregar Detalle" alt="Agregar Detalle" href="/Fonatel/RelacionCategoria/Detalle/1"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a>*@
                <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-primary-out"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-danger-out btnEliminarRelacion"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
            </td>
        </tr>
    </tbody>

</table>
