
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">

    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item"><a href="/RelacionCategoria">Atributos de Validación</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalle Relaciones entre Categorías</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("_CrearDetalle")
        </div>
        <div class="col-lg-12 ">
            <br />
            @Html.Partial("_TablaDetalleRelacionCategoria")
        </div>
    </div>

</div>

