@using GB.SUTEL.UI.Helpers;

<h4>Mantenimiento de Indicador Cruzado</h4>
<hr>
@if (rolValidation.ValidateScreenFunctions(this.Context, "Indicador Cruzado", "Crear"))
{
    <p>
        @Html.ActionLink("Nuevo", "Crear", "IndicadorCruzado", null, new { @class = "btn btn-success", title = GB.SUTEL.Resources.Resources.btnTooltipNuevo })
    </p>
}
<div id="tabla">
    @Html.Action("_table")
</div>

@if (rolValidation.ValidateScreenFunctions(this.Context, "Indicador Cruzado", "Eliminar"))
{
    @Html.Partial("_eliminar");
}
@section scripts{
    @Scripts.Render("~/Scripts/Mantenimientos/source.js")
}