


<div class="table-responsive table-wrapper-fonatel">
    <table id="TableRegistroIndicadorFonatel" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>

                <th scope="col">Solicitud</th>
                <th scope="col">Fecha Inicial</th>
                <th scope="col">Fecha Final</th>
                <th scope="col">Nombre de Formulario</th>
                <th scope="col">Estado</th>
                <th scope="col">Llenado Web</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Solicitud Prueba</td>
                <td>20/03/2021</td>
                <td>20/04/2021</td>
                <th>Estado Programa 1</th>
                <td>Pendiente</td>
                <td><button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Llenado Web" class="btn-icon-base btn-home"></button>
            </tr>
            <tr>

                <td>Solicitud Prueba</td>
                <td>20/03/2021</td>
                <td>20/04/2021</td>
                <th>Estado Programa 2</th>
                <td>En proceso</td>
                <td><button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Llenado Web" class="btn-icon-base btn-home"></button>
            </tr>
            <tr>

                <td>Solicitud Prueba</td>
                <td>20/03/2021</td>
                <td>20/04/2021</td>
                <th>Estado Programa 4</th>
                <td>En proceso</td>
                <td><button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Llenado Web" class="btn-icon-base btn-home"></button>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th></th>
            </tr>
        </tfoot>

</table>
</div>







