


<div class="table-responsive table-wrapper-fonatel">
    <table id="TableRegistroIndicadorFonatel" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre de Formulario</th>
                <th scope="col">Solicitud</th>
                <th scope="col">Fecha Inicial</th>
                <th scope="col">Fecha Final</th>
                <th scope="col">Fuente</th>
                <th scope="col">Estado</th>
                <th scope="col">Llenado Web</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Estado Programa 1</th>
                <td>SOL1-1</td>
                <td>20/03/2021</td>
                <td>20/04/2021</td>
                <td>Fuente 1</td>
                <td>Pendiente</td>
                <td><button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Llenado Web" class="btn-icon-base btn-home"></button>
            </tr>
            <tr>
                <th scope="row">Estado Programa 2</th>
                <td>SOL1-3</td>
                <td>20/03/2021</td>
                <td>20/04/2021</td>
                <td>Fuente 2</td>
                <td>En proceso</td>
                <td><button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Llenado Web" class="btn-icon-base btn-home"></button>
            </tr>
            <tr>
                <th scope="row">Estado Programa 4</th>
                <td>SOL1-4</td>
                <td>20/03/2021</td>
                <td>20/04/2021</td>
                <td>Fuente 3</td>
                <td>En proceso</td>
                <td><button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Llenado Web" class="btn-icon-base btn-home"></button>
            </tr>
        </tbody>

    </table>
</div>







