


<div class="table-responsive table-wrapper-fonatel">
    <table id="TableRegistroIndicadorFonatel" class="dataTable table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th style="min-width:30PX">  </th>
                <th scope="col">Solicitud</th>
                <th scope="col">Fecha Inicial</th>
                <th scope="col">Fecha Final</th>
                <th scope="col">Mes de Registro</th>
                <th scope="col">Nombre del Formulario</th>
                <th scope="col">Estado</th>
                <th scope="col">Llenado Web</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td></td>
                <td>Solicitud Agosto</td>
                <td>01/08/2022</td>
                <td>31/08/2022</td>
                <td>Agosto</td>
                <th>Estado Programa Pasado</th>
                <td>Enviado</td>
                <td><button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Llenado Web" class="btn-icon-base btn-edit-form disabled"></button>
            </tr>

            <tr>
                <td></td>
                <td>Solicitud Octubre</td>
                <td>01/10/2022</td>
                <td>31/10/2022</td>
                <td>Octubre</td>
                <th>Estado Programa Futuro</th>
                <td>Pendiente</td>
                <td><button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Llenado Web" class="btn-icon-base btn-edit-form disabled"></button>
            </tr>

            <tr>
                <td></td>
                <td>Solicitud Septiembre</td>
                <td>01/09/2022</td>
                <td>30/09/2022</td>
                <td>Septiembre</td>
                <th>Estado Programa Presente</th>
                <td>En proceso</td>
                <td><button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Llenado Web" class="btn-icon-base btn-edit-form"></button>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th></th>
            </tr>
        </tfoot>

</table>
</div>







