@using GB.SIMEF.Resources;

@{
    ViewBag.Title = "RegistroIndicadorFonatel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">@Etiquetas.LabelInicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalle Registro de Indicador</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-title-fonatel text-center">Detalle Registro de Indicador</h2>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group center">
                <label for="ddlSolicitud" class="col-form-label">Solicitud</label>
                <div class="select2-wrapper">
                    <select class="listasDesplegables" aria-label="Default select example" id="ddlSolicitud">
                        <option></option>
                        <option value="1">San jose</option>
                        <option value="2">Limón</option>
                        <option value="2">Cartago</option>
                    </select>
                </div>
                <small id="CodigoHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group center">
                <label for="dllFormulario" class="col-form-label">Formulario</label>
                <div class="select2-wrapper">
                    <select class="listasDesplegables" aria-label="Default select example" id="dllFormulario">
                        <option></option>
                        <option value="1">San jose</option>
                        <option value="2">Limón</option>
                        <option value="2">Cartago</option>
                    </select>
                </div>
                <small id="CodigoHelp" class="form-text form-text-danger-fonatel">@Etiquetas.CampoRequerido</small>
            </div>

        </div>
    </div>

    <ul class="nav nav-tabs nav-tabs-fonatel mt-4">
        <li class="active"><a data-toggle="tab" href="#menu0">P4 extendido</a></li>
        <li><a data-toggle="tab" href="#menu1">P4 Usuario</a></li>
        <li><a data-toggle="tab" href="#menu2">P2-Jefas y menores M43</a></li>
        <li><a data-toggle="tab" href="#menu0">Indicador 3</a></li>
        <li><a data-toggle="tab" href="#menu1">Indicador 4</a></li>
        <li><a data-toggle="tab" href="#menu2">Indicador 5</a></li>
        <li><a data-toggle="tab" href="#menu0">Indicador 6</a></li>
        <li><a data-toggle="tab" href="#menu1">Indicador 7</a></li>
        <li><a data-toggle="tab" href="#menu2">Indicador 8</a></li>
    </ul>

    <div class="tab-content">
        <div id="menu0" class="tab-pane fade in active">
            <div class="table-responsive table-wrapper-fonatel">
                <table class="dataTable datatable_simef table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Código de distrito</th>
                            <th scope="col">Longitud</th>
                            <th scope="col">Latitud</th>
                            <th scope="col">Tipo de zona</th>
                            <th scope="col">Región</th>
                            <th scope="col">Operador</th>
                            <th scope="col">Estado</th>
                            <th scope="col">APs en servicio</th>
                            <th scope="col">Fecha PES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>San Jose, Carmen - Parque Morazan</td>
                            <td>10101</td>
                            <td>-84,075401</td>
                            <td>9,935661</td>
                            <td>Espacio Público</td>
                            <td>Región 1</td>
                            <td>Consorcio IRP</td>
                            <td>En Servicio</td>
                            <td>2</td>
                            <td>06/08/2019</td>
                        </tr>
                        <tr>
                            <td>Escazu, Escazu - Parque</td>
                            <td>10201</td>
                            <td>-84,140375</td>
                            <td>9,919899</td>
                            <td>Espacio Público</td>
                            <td>Región 3</td>
                            <td>Telecable</td>
                            <td>En Servicio</td>
                            <td>1</td>
                            <td>05/12/2019</td>
                        </tr>
                        <tr>
                            <td>San Ramon, San Ramon - Parada de autobuses</td>
                            <td>20201</td>
                            <td>-84,471032</td>
                            <td>10,088438</td>
                            <td>Espacio Público</td>
                            <td>Región 2</td>
                            <td>Coopeguanacaste</td>
                            <td>En Servicio</td>
                            <td>1</td>
                            <td>26/12/2019</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="table-responsive table-wrapper-fonatel">
                <table class="dataTable datatable_simef table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Código ZAIG</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Perfil</th>
                            <th scope="col">Dispositivos totales</th>
                            <th scope="col">Dispositivo nuevos</th>
                            <th scope="col">Sesiones</th>
                            <th scope="col">Trafico MB</th>
                            <th scope="col">Tipo de zona</th>
                            <th scope="col">Operador</th>
                            <th scope="col">Código distrito</th>
                            <th scope="col">Distrito</th>
                            <th scope="col">Cantón</th>
                            <th scope="col">Provincia</th>
                            <th scope="col">Región</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01/05/2019</td>
                            <td>A1010902</td>
                            <td>San José, Pavas - Plaza</td>
                            <td>Estudiante</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>265,5755959</td>
                            <td>Espacio Público</td>
                            <td>Consorcio IRP</td>
                            <td>10109</td>
                            <td>Pavas</td>
                            <td>San José</td>
                            <td>San José</td>
                            <td>Central</td>

                        </tr>
                        <tr>
                            <td>01/05/2019</td>
                            <td>A5030101</td>
                            <td>Santa Cruz, Santa Cruz - Mercado Municipal y Estación de Autobuses</td>
                            <td>Turista</td>
                            <td>12</td>
                            <td>11</td>
                            <td>22</td>
                            <td>1563,1</td>
                            <td>Espacio Público</td>
                            <td>Coopeguanacaste</td>
                            <td>50301</td>
                            <td>Santa Cruz</td>
                            <td>Santa Cruz</td>
                            <td>Guanacaste</td>
                            <td>Chorotega</td>
                        </tr>
                        <tr>
                            <td>01/05/2019</td>
                            <td>A5030102</td>
                            <td>Santa Cruz, Santa Cruz - Parque Central</td>
                            <td>Estudiante</td>
                            <td>114</td>
                            <td>106</td>
                            <td>145</td>
                            <td>10044,5</td>
                            <td>Espacio Público</td>
                            <td>Coopeguanacaste</td>
                            <td>50301</td>
                            <td>Santa Cruz</td>
                            <td>Santa Cruz</td>
                            <td>Guanacaste</td>
                            <td>Chorotega</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="table-responsive table-wrapper-fonatel">
                <table class="dataTable datatable_simef table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Hogares beneficiados</th>
                            <th scope="col">Personas beneficiadas</th>
                            <th scope="col">Jefas de familia beneficiadas</th>
                            <th scope="col">Hoogares con menores beneficiados</th>
                            <th scope="col">Menores beneficiados</th>
                            <th scope="col">Hogares con personas con discapacidad</th>
                            <th scope="col">Personas con discapacidad beneficiadas</th>
                            <th scope="col">Pers.Bnef./ hogar</th>
                            <th scope="col">Hogares con adultos mayores</th>
                            <th scope="col">Adultos mayores beneficiados</th>
                            <th scope="col">Hogares con indígenas</th>
                            <th scope="col">Indígenas beneficiados</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>375</td>
                            <td>1.296</td>
                            <td>252</td>
                            <td>360</td>
                            <td>702</td>
                            <td>71</td>
                            <td>85</td>
                            <td>3,46</td>
                            <td>8</td>
                            <td>10</td>
                            <td>-</td>
                            <td>-</td>


                        </tr>
                        <tr>
                            <td>1062</td>
                            <td>3665</td>
                            <td>714</td>
                            <td>1006</td>
                            <td>1981</td>
                            <td>185</td>
                            <td>225</td>
                            <td>3,45</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>11522</td>
                            <td>40019</td>
                            <td>7004</td>
                            <td>10913</td>
                            <td>19836</td>
                            <td>1443</td>
                            <td>1718</td>
                            <td>3,47326852976914</td>
                            <td>523</td>
                            <td>626</td>
                            <td>13</td>
                            <td>40</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
