@model GB.SUTEL.UI.Models.ServicioViewModels


<form method="post" id="formEliminarServicio"
      action="@Url.Action("Eliminar")" data-ajax="true"
      data-ajax-message="Cargando datos desde index..." data-ajax-onsuccess="onsuccessAjaxEliminarServicio">

    <div class="modal fade" id="modalEliminarServicio">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Eliminar Servicio</h4>
                </div>
                <div class="modal-body">

                    <div class="form-horizontal">
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">

                            <p style="margin:15px;margin-bottom:0px;"> ¿Seguro(a) que desea eliminar el Servicio? </p>
                            <div class="col-sm-11">
                                @Html.HiddenFor(model => model.itemServicio.IdServicio, new { @id = "IDServicioEliminar" })
                                </br>
                                <div class="alert alert-danger col-sm-9" hidden role="alert" id="divMensajeErroEliminarServicio">
                                    <strong>Error!</strong>
                                    <div id="divErrorEliminarServicioDependencia"> </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">                    
                    <input type="submit" value="Eliminar" class="btn btn-success" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</form>
<script type="text/javascript">

    /* Determina comportamiento al hacer submit */
    $(document).ready(function () {


        function onSuccessEditarServicio(data) {

            data = JSON.parse(data);

            if (data.ok === "True") {
                $("#modalEliminarServicio").modal('hide');                
                addSuccess({ msg: "La información se eliminó con éxito" });
                $("#frmFilterServicio")[0].reset();
                $("#frmFilterServicio").submit();

            } else {
                $("#divMensajeErroEliminarServicio").show();
                $("#divErrorEliminarServicioDependencia").html("");
                $("#divErrorEliminarServicioDependencia").append("- "+data.strMensaje);
            }
        }
        function onFailureEditarServicio(error) {

        }
        // pasa el id del form de crear
        // pasa la función a ejecutar si todo está bien
        // pasa la función a ejecutar si hay errores
        AjaxifyMyForm("formEliminarServicio",
            onSuccessEditarServicio,
            onFailureEditarServicio);
    });
</script>