

<div class="table-responsive" style="min-width:300px">
    <table id="TableIndicadorFormulario" class="datatable_simef table table-bordered table-condensed table-hover dataTable">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Grupo</th>
                <th scope="col">Tipo</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">IP1Tor</th>
                <td>Torres según estado</td>
                <td>Programa 1</td>
                <td>Gestión</td>
                <td>Activo</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>

                </td>
            </tr>
            <tr>
                <th scope="row">IP1CPSP</th>
                <td>CPSP Conectados</td>
                <td>Programa 2</td>
                <td>Cumplimiento</td>
                <td>En Proceso</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">IP2Hog</th>
                <td>Hogares Beneficiarios</td>
                <td>Programa 2</td>
                <td>Beneficiario</td>
                <td>Desactivado</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
        </tbody>

    </table>
</div>




