

<div class="table-responsive table-wrapper-fonatel" style="min-width:300px">
    <table id="TableCategoriaDesagregacion" class="dataTable datatable_simef table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">Pantalla</th>
                <th scope="col">Código</th>
                <th scope="col">Acción</th>
                <th scope="col">Fecha</th>
                <th scope="col">Usuario</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Categoría Desagregación</th>
                <td>CAT1-1</td>
                <td>Creación</td>
                <td>30/06/2022</td>
                <td>Pedro</td>
            </tr>
            <tr>
                <th scope="row">Categoría Desagregación</th>
                <td>CAT1-2</td>
                <td>Modifica</td>
                <td>30/05/2022</td>
                <td>José</td>
            </tr>
            <tr>
                <th scope="row">Indicador</th>
                <td>INT-1.1</td>
                <td>Activa</td>
                <td>30/05/2022</td>
                <td>Altberto</td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th></th>
                <th class="select2-wrapper"></th>
            </tr>
        </tfoot>

    </table>
</div>

