<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EF6.BulkInsert" version="6.1.0.6" targetFramework="net45" />
  <package id="EF6.BulkInsert.SqlServer" version="6.1.0.6" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework.MappingAPI" version="6.1.0.9" targetFramework="net45" />
  <package id="EntityFrameworkDbModelStore" version="1.1" targetFramework="net45" />
  <package id="EntityFrameworkDbModelStore.BulkInsert" version="1.5" targetFramework="net45" />
  <package id="EntityFrameworkDbModelStore.MappingAPI" version="1.1" targetFramework="net45" />
  <package id="EPPlus" version="4.0.4" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
</packages>