<div class="embed-responsive embed-responsive-16by9">
    <iframe src="/Paginas/Reportes/ReporteBitacora.aspx" width="1000" height="1000" style="border: none; vertical-align: top;" class="embed-responsive-item"></iframe>
</div>
