
<form id="formEliminar" action="@Url.Action("Eliminar")" data-ajax="true" method="post" data-ajax-message="Eliminando..." data-ajax-message-default="Eliminar">
    @Html.AntiForgeryToken()
    <div class="modal fade" id="modalEliminar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Eliminar Periodicidad</h4>
                </div>
                <div class="modal-body">

                    <div class="form-horizontal">
                        <label style="font-size:small">¿Seguro que desea eliminar este registro?</label>
                    </div>
                    <div class="form-horizontal">
                        <input type="hidden" value="" id="id" name="id" />
                        <div class="form-group tipoExterno">
                            <label class="control-label col-md-2">Nombre</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="NOMBREELIMINAR" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="alert alert-danger" hidden role="alert" name="error">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Eliminar" class="btn btn-success" title="Eliminar" alt="Eliminar" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">Cancelar</button>
                       
                    </div>

                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>