



<form id="formConfirmaDescargaWeb" method="post"
      data-ajax-message="Editando Formulario Web...">
    @Html.Hidden("ItemConsultarFormWeb", "", new { @id = "ItemConsultarFormWeb" })

    <div class="modal fade" id="modalConfirmaDescargaWeb">
        <div class="modal-dialog  custom-modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Previsualizar Archivo Web</h4>
                </div>
                <div class="descargar-form-web-header">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <img class="descargar-form-web-header-img" src="~/Content/Images/logos/logo-Sutel_11_3.png" />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="descargar-form-web-header-content">
                                <div class="mb-0-5">
                                    <select class="form-control" id="idConstructorOperador" title="Operadores">
                                        @*<option>OPERADOR DE SERVICIOS DIRECCION MERCADOS</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>*@
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <p class="mb-0"><strong>Servicio:</strong> <span id="idConstructorServicio" title="Servicio">---</span></p>
                                        <p class="mb-0"><strong>Dirección:</strong> <span id="idConstructorDireccion" title="Dirección">---</span></p>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <p class="mb-0"><strong>Frecuencia:</strong> <span id="idConstructorFrecuencia" title="Frecuencia">---</span></p>
                                        <p class="mb-0"><strong>Desglose:</strong> <span id="idConstructorDesglose" title="Desglose">---</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">

                    <div class="row">

                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="m-1">
                                <h4 class="c-black">Indicadores</h4>

                                <div style=" overflow: auto; height: 600px; width:230px" class="custom-shadow mt-1">



                                    <div id="divListIndicadores" class="p-0-5">

                                    </div>





                                </div>
                                <br />
                                <div class="pb-1 t-center">
                                    <div class="spacer"></div>
                                    <button id="btnCargar" type="button" class="btn btn-info">Carga de datos</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9">
                            <div class="m-1">
                                <h4 id="tituloDetalleIndicadores" class="c-black">Detalle de agrupación</h4>

                                <div style=" overflow: auto; height: 575px;" class="custom-shadow mt-1">

                                    <div id="divIndicadorSeleccionado" class="p-1">

                                    </div>

                                    <div id="divIndicadorSeleccionadoError" class="invalid-feedback" style="padding: 0 1rem">

                                    </div>


                                    <div id="divIndicadorSeleccionadoObservacion" class="form-group m-1 hide" disabled>
                                        <label>Observación</label>
                                        <textarea class="form-control w-100" id="txtIndicadorSeleccionadoObservacion" rows="3"></textarea>
                                    </div>

                                </div>
                                <br />
                                    <div class="p-1 flex">
                                    <button disabled id="btnLimpiar" type="button" class="btn btn-light">Limpiar datos</button>
                                    <div class="spacer"></div>
                                    <button disabled id="btnGuardadoParcial" type="button" class="btn btn-warning mr-0-5">Guardado parcial</button>
                                    <button disabled id="btnGuardadoTotal" type="button" class="btn btn-success">Guardado total</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>




<script type="text/javascript">
    {


        $(".accordion-titulo").click(function (e) {
            alert("alparecer es este jose ");
            e.preventDefault();

            var contenido = $(this).next(".accordion-content");

            if (contenido.css("display") == "none") { //open
                contenido.slideDown(250);
                $(this).addClass("open");
            }
            else { //close
                contenido.slideUp(250);
                $(this).removeClass("open");
            }

        });

    }
</script>