


<form>
    <div class="row mt-5">
        <div class="col-lg-6 col-md-12">
            <div class="justify-content-center">


             
                <div class="form-group row">
                    <label for="txtCodigo" class="col-sm-4 col-form-label">Código</label>
                    <div class="col-sm-8">
                        <input type="text" aria-label="Código de categoria" class="form-control" id="txtCodigo" placeholder="Código">
                        <small id="CodigoHelp" class="form-text text-danger">El Código es Requerido</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtNombre" class="col-sm-4 col-form-label">Nombre</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="txtNombre" placeholder="Nombre">
                        <small id="nombreHelp" class="form-text text-danger">El Nombre es Requerido</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtFechaInicio" class="col-sm-4 col-form-label">Fecha de Inicio</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="TxtFechaInicio">
                        <small id="FechaInicioHelp" class="form-text text-danger">La Fecha Inicio es Requerida</small>
                    </div>
                </div>
            </div>
          </div>
        <div class="col-lg-6 col-md-12">
            <div class="justify-content-center">

                <div class="form-group row">
                    <label for="txtFechaFin" class="col-sm-4 col-form-label">Fecha Final</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="TxtFechaFin">
                        <small id="FechaFinHelp" class="form-text text-danger">La Fecha Final es Requerida</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="ddlFormularios" class="col-sm-4 col-form-label ">Formulario</label>
                    <div class="col-sm-8">
                        <select multiple class="form-control required listasDesplegables" id="ddlFormularios">
                            <option></option>
                            <option>Formulario 1</option>
                            <option>Formulario 2</option>
                            <option>Formulario 3</option>
                        </select>
                        <br />
                        <small id="FormulariosHelp" class="form-text text-danger">Seleccione un Formulario</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ddlFuentes" class="col-sm-4 col-form-label ">Fuentes</label>
                    <div class="col-sm-8">
                        <select multiple class="form-control required listasDesplegables" id="ddlFuentes">
                            <option></option>
                            <option>Fuentes 1</option>
                            <option>Fuentes 2</option>
                            <option>Fuentes 3</option>
                        </select>
                        <br />
                        <small id="FuentesHelp" class="form-text text-danger">Seleccione una Fuente de la Lista</small>
                    </div>
                </div>




            </div>
        </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label for="txtMensajeSolicitud" class="col-sm-4 col-form-label">Mensaje</label>
                <div class="col-sm-8">
                    <textarea id="txtMensajeSolicitud" class="text-area" placeholder="Mensaje"></textarea>
                    <br />
                    <small id="txtMensajeSolicitudHelp" class="form-text text-danger">El Mensaje es Requerido</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-12 text-center">

            <button type="submit" id="btnGuardarSolicitud" class="btn btn-fonatel btn-success-fonatel">Guardar</button>
            <button type="submit" class="btn btn-fonatel btn-error-fonatel">Cancelar</button>

        </div>
    </div>
</form>

