<div class="modal fade modal-simef" data-backdrop="static" id="modalEnvio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="fa fa-close"></span>
                </button>
                <h5 class="modal-title">Programar Envío Automático</h5>

            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <label for="txtSolicitudModal" class="col-sm-4 col-form-label ">Soliciud</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control disabled" id="txtSolicitudModal" value="SOL-1.1">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ddlFrecuencia" class="col-sm-4 col-form-label ">Frecuencía</label>
                    <div class="col-sm-8">
                        <select class="listasDesplegables" id="ddlFormularios">
                            <option></option>
                            <option>Mensual</option>
                            <option>Trimestral</option>
                            <option>Anual</option>
                        </select>
                        <br />
                        <small id="ddlFrecuenciaHelp" class="form-text text-danger">Seleccione una Fecuencía</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtRepeticionesSolicitudes" class="col-sm-4 col-form-label">Cantidad de Repeticiones</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control solo_numeros" id="txtRepeticionesSolicitudes" placeholder="Nombre">
                        <small id="txtRepeticionesSolicitudesHelp" class="form-text text-danger">La Cantidad de Repeticiones es Requerida</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtFechaInicioCiclo" class="col-sm-4 col-form-label">Fecha de Envío</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="TxtFechaFin">
                        <small id="txtFechaEnvioSolicitudHelp" class="form-text text-danger">La Fecha de Envío es Requerida</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="txtFechaEnvioSolicitud" class="col-sm-4 col-form-label">Fecha de Envío</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="TxtFechaFin">
                        <small id="txtFechaEnvioSolicitudHelp" class="form-text text-danger">La Fecha de Envío es Requerida</small>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="text-center">

                    <button type="submit" id="btnGuardarSolicitudEnvio" class="btn btn-success">Guardar</button>
                    <button type="submit" id="btnCancelarSolicitudEnvio" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
