<div class="modal fade modal-simef" data-backdrop="static" id="modalEnvio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="fa fa-close"></span>
                </button>
                <h5 class="modal-title">Programar Envío Automático</h5>

            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <label for="ddlFormularios" class="col-sm-4 col-form-label ">Formulario</label>
                    <div class="col-sm-8">
                        <select multiple class="form-control required listasDesplegables" id="ddlFormularios">
                            <option></option>
                            <option>Formulario 1</option>
                            <option>Formulario 2</option>
                            <option>Formulario 3</option>
                        </select>
                        <br />
                        <small id="FormulariosHelp" class="form-text text-muted">Seleccione un Formulario</small>
                    </div>
                </div>



            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
