@using GB.SIMEF.Resources;
<div class="table-responsive table-wrapper-fonatel" style="min-width:300px">
    <table id="TablaFormulario" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">@EtiquetasViewSolicitudes.Codigo</th>
                <th scope="col">@EtiquetasViewSolicitudes.Formulario</th>
                <th scope="col">@Etiquetas.Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Form2</th>
                <th scope="row">Formulario 2</th>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">Form1</th>
                <th scope="row">Formulario 1</th>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
        </tbody>

    </table>
</div>