@using GB.SIMEF.Resources;
@model GB.SIMEF.Entities.Solicitud
<div class="table-responsive table-wrapper-fonatel" style="min-width:300px">
    <table id="TablaFormulario" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">@EtiquetasViewSolicitudes.Codigo</th>
                <th scope="col">@EtiquetasViewSolicitudes.Formulario</th>
                <th scope="col">@Etiquetas.Estado</th>
                <th scope="col">@Etiquetas.Acciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>

    </table>
</div>