
<div class="table-responsive table-wrapper-fonatel">

    <table id="TablaSolicitud" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Fuente</th>
                <th>Formulario Web</th>
                <th>Envío Programado</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Sol1-1</th>
                <td>Estado Mensual</td>
                <td>Unidad de Gestión 1</td>
                <td>FormP1-1</td>
                <td>Si</td>
                <td>Activo</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-clone"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Desactivar" class="btn-icon-base btn-power-on"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Envío" class="btn-icon-base btn-sent"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar Programación" class="btn-icon-base btn-calendar-disabled"></button>
                </td>
            </tr>
            <tr>
                <th>Sol1-3</th>
                <td>Estado Mensual</td>
                <td>Unidad de Gestión 2</td>
                <td>FormP1-2</td>
                <td>No</td>
                <td>Desactivado</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-clone"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Desactivar" class="btn-icon-base btn-power-on"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Envío" class="btn-icon-base btn-sent"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Programar Envío" class="btn-icon-base btn-calendar"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">Sol1-2</th>
                <td>Estado Mensual</td>
                <td>Unidad de Gestión 3</td>
                <td>FormP1-3</td>
                <td>No</td>
                <td>Activado</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-clone"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Desactivar" class="btn-icon-base btn-power-on"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Envío" class="btn-icon-base btn-sent"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Programar Envío" class="btn-icon-base btn-calendar"></button>
                </td>
            </tr>
        </tbody>


        <tfoot>
            <tr>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th class="select2-wrapper"></th>
                <th></th>
            </tr>

        </tfoot>

    </table>

</div>
