@using GB.SIMEF.Resources;

<div class="modal fade modal-fonatel" data-backdrop="static" id="modalImportarExcel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fonatel" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title" id="exampleModalLongTitle">Grupo Indicador</h5>

            </div>
            <div class="modal-body">

                <form id="formularioCarga" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <div class="form-group row">
                                <label for="txtGrupo" class="col-sm-12 col-form-label">Seleccionar archivo excel</label>
                                <div class="col-sm-12">
                                    <input type="file" id="fileImportar" name="fileImportar" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12 text-center" style="display:inline-block">
                    <input type="submit" tabindex="-1" class="btn btn-fonatel btn-success-fonatel">
                    <button type="button" tabindex="-1" class="btn btn-fonatel btn-error-fonatel" data-dismiss="modal" title="@Etiquetas.BotonCancelar">@Etiquetas.BotonCancelar</button>
                  </div>
               </div>
            </div>
    </div>
</div>
