<input class="hidden" type="file" id="InpAgregarCSV" accept=".csv">

<div class="table-responsive" style="min-width:300px">
    <table id="TableCategoriaDesagregacion" class="dataTable datatable_simef table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Estado</th>
                <th scope="col">Detalle</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Cat1-1</th>
                <td>Codigo Torre</td>
                <td>800/800</td>
                <td>Activo</td>

                <td>
                    <strong>N/A</strong>
                </td>

                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" value="1" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Desactivar" class="btn-icon-base btn-power-on"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-clone"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">Cat2-1</th>
                <td>Proyecto</td>
                <td>30/29</td>
                <td>En Proceso</td>
                <td>

                    <button type="button" data-toggle="tooltip" data-placement="top" title="Agregar Detalle" class="btn-icon-base btn-upload"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Descargar Plantilla" class="btn-icon-base btn-download"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Agregar Detalle" class="btn-icon-base btn-add"></button>
                </td>
                <td>


                    <button type="button" data-toggle="tooltip" data-placement="top" value="4" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Desactivar" class="btn-icon-base btn-power-off"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-clone"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">Cat3-1</th>
                <td>Región</td>
                <td>6/6</td>
                <td>Inactivo</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Agregar Detalle" class="btn-icon-base btn-upload"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Descargar Plantilla" class="btn-icon-base btn-download"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Agregar Detalle" class="btn-icon-base btn-add"></button>
                </td>
                <td>


                    <button type="button" data-toggle="tooltip" data-placement="top" value="2" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Desactivar" class="btn-icon-base btn-power-on"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-clone"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">Cat3-2</th>
                <td>Provincia</td>
                <td>7/0</td>
                <td>Inactivo</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Agregar Detalle" class="btn-icon-base btn-upload"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Descargar Plantilla" class="btn-icon-base btn-download"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Agregar Detalle" class="btn-icon-base btn-add"></button>
                </td>
                <td>


                    <button type="button" data-toggle="tooltip" data-placement="top" value="5" title="Editar" class="btn-icon-base btn-edit"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Activar" class="btn-icon-base btn-power-on"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-clone"></button>

                </td>
            </tr>
        </tbody>

    </table>
</div>


<script type="text/javascript">

    $(document).on('click', 'button[name=BtnAgregarCSV]',  function(){
        $("#InpAgregarCSV").click();       
    });

</script>