
@{
    ViewBag.Title = "Categoría de Desagregación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<div class="container body-content">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active"><a href="/Fonatel/CategoriasDesagregacion/index">Categorías de Desagregación</a></li>
                <li class="breadcrumb-item active" aria-current="page">Crear Categoría de Desagregación</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12">

            @Html.Partial("_CrearCategoria")
        </div>
    </div>

</div>
