
@{
    ViewBag.Title = "Categoría de Desagregación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container body-content">
    <div class="text-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action( "index","Home")">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Categoría Desagregación</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-title-fonatel text-center">Categorías de Desagregación</h2>
            <hr />
        </div>
        <div class="col-lg-12 mt-4">
            <a class="btn btn-fonatel btn-success-fonatel" data-toggle="tooltip" data-placement="top" title="Crear" alt="Crear" href="@Url.Action( "create","CategoriasDesagregacion")"  >Crear</a>
        </div>
        <div class="col-lg-12 mt-4">
            @Html.Partial("_TablaCategoriaDesagregacion")
        </div>
    </div>

</div>

