@model Tuple<List<GB.SUTEL.Entities.TipoIndicador>, GB.SUTEL.Entities.TipoIndicador>
@using GB.SUTEL.UI.Helpers;


        <h4>Mantenimiento de Tipo Indicadores</h4>
        <hr />
@if (rolValidation.ValidateScreenFunctions(this.Context, "Tipo Indicador", "Crear"))
    {
        <p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalCrearTipoIndicador">
                Nuevo
            </button>
        </p>
}

<div id="tableTipoIndicador">
    @Html.Action("_table")
</div>    

@if (rolValidation.ValidateScreenFunctions(this.Context, "Tipo Indicador", "Crear"))
{
    @Html.Partial("Crear", Model.Item2)
} 
                     
               
@Html.Partial("Editar", Model.Item2)
      

@if (rolValidation.ValidateScreenFunctions(this.Context, "Tipo Indicador", "Eliminar"))
{
    @Html.Partial("Eliminar", Model.Item2)      
}