@using GB.SUTEL.Entities
@model List<SolicitudIndicador>
    <table class="display" cellspacing="0" data-table-grid="true" data-table-grid-display-rows="4">
        <thead>
            <tr>
                <th>
                    Nombre Formulario
                </th>
                <th>
                    Fecha Inicial
                </th>
                <th>
                    Fecha Final
                </th>


                <th class="no-sort" style="min-width:40px;"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td colspan="2"></td>

            </tr>
        </tfoot>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescFormulario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaInicio)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.FechaFin)
                        </td>


                        <td>
                            <button type="button" class="btn btn-success" data-dismiss="modal" title="Seleccionar solicitud"
                                    data-select="true" onclick="functCargarDetalleAgrupacion('@item.IdSolicitudIndicador')">
                                <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                            </button>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

