@{
    List<Mantenimiento.DireccionViewModel> direcciones = ViewBag.Direcciones;
}

@*Links*@
<link href="~/Content/Mantenimiento.css" rel="stylesheet" />


@*Panel Filtros*@
<div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="panel " style="border-color:#006672;">
            @*Título*@
            <div class="panel-heading" style="background-color:#006672">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="panel-title" style="color:#ffffff">
                            Definición de Indicadores
                        </h2>
                    </div>
                    <div class="col-sm-6" style="text-align:end">
                        <img src="~/Content/Images/writing (1).png" />
                    </div>
                </div>
            </div>
            @*Filtros*@
            <div class="panel-body">
                <div class="container" id="Filtros" style="display:none">
                    <div class="row">
                        @*Dirección*@
                        <div class="col-sm-5">
                            <label for="direccionSelect">Seleccione la Dirección</label>
                            <select class="form-control" id="direccionSelect"></select>
                        </div>
                        @*Servicio*@
                        <div class="col-sm-5">
                            <label for="servicioSelect">Seleccione el Servicio</label>
                            <select class="form-control" id="servicioSelect"></select>
                        </div>
                        @*Buscar*@
                        <div class="col-sm-2" style="margin-top: 3.5%;">
                            <div class="form-group">
                                <button id="Search" class="btn sutelColor" type="submit" onclick="buscarIndicadores()" style=" width: 100%;"><i class="fa fa-search" style="color:#ffffff"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
@*Loader*@
<div class="loader" id="loader" style="display:block"></div>
@*Div de tabla*@
<div id="DivTable" style="display:none;">
    <div class="row">
        @*Tabla*@
        <table class="table responsive table-striped" style="width:100%" id="IndicadoresTable">
            <thead class="sutelColor">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo Indicador</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        @*Filtros de tabla*@
        <div class="row sutelColor">
            @*Filtro por id*@
            <div class="col-md-2 col-md-offset-2 sutelColor">
                <input onkeyup="filtroId(this.value)" placeholder="Filtro por Id" style=" margin:5px; text-align:center" type="text" class="form-control">
            </div>
            @*Filtro por nombre*@
            <div class="col-md-2 col-md-offset-1 sutelColor">
                <input onkeyup="filtroNombre(this.value)" placeholder="Filtro por Nombre" style="margin:5px;  text-align:center" type="text" class="form-control">
            </div>
            @*Filtro por tipo*@
            <div class="col-md-2 col-md-offset-1 sutelColor">
                <input onkeyup="filtroIndicador(this.value)" placeholder="Filtro por Tipo" style="margin:5px;  text-align:center" type="text" class="form-control">
            </div>
        </div>
    </div>
</div>

@*modal de definición*@
<div id="ModalDefinicion" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @*Título*@
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Definición de indicadores</h4>
            </div>
            <div class="modal-body">
                @*Error*@
                <div id="error"></div>
                @*Form*@
                <div class="form-group">
                    <div class="row">
                        @*Código*@
                        <div class="col-sm-3">
                            <label for="codigoInput">Código</label>
                            <input type="email" disabled class="form-control" id="codigoInput" aria-describedby="emailHelp">
                        </div>
                        @*Dirección*@
                        <div class="col-sm-4">
                            <label for="direccionInput">Dirección</label>
                            <input type="text" class="form-control" id="direccionInput" disabled>
                        </div>
                        @*Servicio*@
                        <div class="col-sm-5">
                            <label for="servicioInput">Servicio</label>
                            <input type="text" class="form-control" id="servicioInput" disabled>
                        </div>
                    </div>
                </div>
                @*Nombre*@
                <div class="form-group">
                    <label for="nombreInput">Nombre del indicador</label>
                    <input disabled type="text" class="form-control" id="nombreInput">
                </div>
                @*Definición*@
                <div class="form-group">
                    <label for="definicionInput">Definición</label>
                    <textarea class="form-control" id="definicionInput" rows="3" required></textarea>
                </div>
                @*Fuente*@
                <div class="form-group">
                    <label for="fuenteInput">Fuente</label>
                    <input type="text" class="form-control" id="fuenteInput" required>
                </div>
                @*Nota al pie*@
                <div class="form-group">
                    <label for="notaInput">Nota</label>
                    <input type="text" class="form-control" id="notaInput">
                </div>
            </div>
            @*Acciones*@
            <div class="modal-footer">
                <button type="button" class="btn " data-dismiss="modal" margin-right:1%">Cancelar</button>
                <button type="submit" class="btn sutelColor" onclick="guardarIndicador()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@*Scripts*@
<script src="~/Scripts/ScriptMantenimiento.js"></script>

<script>
    $(document).ready(function () {
        //Ocultar estilos
        var styleSheets = document.styleSheets;
        //var href = "/Content/SIGITEL/DataTables/DataTables-1.10.5/media/css/jquery.dataTables.min.css";
        //for (var i = 0; i < styleSheets.length; i++) {
        //    if (styleSheets[i].href.includes(href)) {
        //        styleSheets[i].disabled = true;
        //        break;
        //    }
        //}
        //Obtener direcciones y crear select
        var arrayDirecciones = @Html.Raw(Json.Encode(direcciones));
        arrayDirecciones.forEach(function(direccion) {
            $('#direccionSelect').append($('<option>', {
            value: direccion.IdDireccion,
                text: direccion.Nombre + " (" + direccion.Cantidad + ")"
            }));
        });

        //On Change de Direcciones
        $("#direccionSelect").change(function () {
            getServicios(this.value);
        });

        //Valores iniciales
        getServicios($('#direccionSelect').val());
        $('#loader').hide();
        $('#Filtros').show();
    });
</script>
