

<div class="table-responsive table-wrapper-fonatel" style="min-width:300px">
    <table id="TablaDefiniciones" class="dataTable datatable_simef table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Grupo</th>
                <th scope="col">Tipo</th>
                <th scope="col">Definición</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">IP1Tor</th>
                <td>Torres según estado</td>
                <td>Programa 1</td>
                <td>Gestión</td>
                <td>SI</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Agregar" class="btn-icon-base btn-add"></button>


                  


                </td>
            </tr>
            <tr>
                <th scope="row">IP1CPSP</th>
                <td>CPSP Conectados</td>
                <td>Programa 2</td>
                <td>Cumplimiento</td>
                <td>NO</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn-icon-base btn-edit"></button>

                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-clone"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Visualizar Detalle" class="btn-icon-base btn-home"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">IP2Hog</th>
                <td>Hogares Beneficiarios</td>
                <td>Programa 2</td>
                <td>Beneficiario</td>
                <td>NO</td>
                <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" class="btn-icon-base btn-edit"></button>

                    <button type="button" data-toggle="tooltip" data-placement="top" title="Clonar" class="btn-icon-base btn-clone"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Visualizar Detalle" class="btn-icon-base btn-home"></button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn-icon-base btn-delete"></button>
                </td>
            </tr>
        </tbody>

    </table>
</div>