@using GB.SIMEF.Resources;

<div class="row">
    <div class="col-md-12">
        <div id="tablaHistorica" class="table-responsive table-wrapper-fonatel">

        </div>
    </div>

    <div class="col-lg-12 mt-3 text-center">
        <button id="btnDescargarHistorico" class="btn btn-fonatel btn-purple-fonatel">@Etiquetas.BotonDescarga</button>
    </div>
</div>



