



<div class="row">
    <div class="col-md-4  col-sm-12 ">

        <div class="form-group center">
            <label for="ddlFuenteDescargaFormulario" class="col-sm-12 col-form-label">Fuente</label>
            <div class="col-sm-12">
                <div class="select2-wrapper">
                    <select class="listasDesplegables" aria-label="Default select example" id="ddlFuenteDescargaFormulario">
                        <option></option>
                        <option value="1">FUENTE 1</option>
                        <option value="2">FUENTE 2</option>
                        <option value="2">FUENTE 3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 ">
        <div class="form-group center">
            <label for="ddlSolicitudDescargaFormulario" class="col-sm-12 col-form-label">Solicitud</label>
            <div class="col-sm-12">
                <div class="select2-wrapper">
                    <select class="listasDesplegables" aria-label="Default select example" id="ddlSolicitudDescargaFormulario">
                        <option></option>
                        <option value="1">SOL-1 SOLICITUD 1</option>
                        <option value="2">SOL-2 SOLICITUD 2</option>
                        <option value="2">SOL-3 SOLICITUD 3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 ">
        <div class="form-group center">
            <label for="ddlFormularioDescargaFormulario" class="col-sm-12 col-form-label">Formulario</label>
            <div class="col-sm-12">
                <div class="select2-wrapper">
                    <select class="listasDesplegables" aria-label="Default select example" id="ddlFormularioDescargaFormulario">
                        <option></option>
                        <option value="1">Form1-1	Estado Programa 1</option>
                        <option value="2">Form1-2	Estado Programa 2</option>
                        <option value="2">Form1-3	Estado Programa 3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
   
</div>
<div class="row mt-4">
    <div class="col-sm-12 text-center">
        <button type="submit" id="btnDescargaFormularioWeb" class="btn btn-fonatel btn-purple-fonatel">Descargar</button>
        <button type="submit" id="btnCancelaFormularioWeb" class="btn btn-fonatel btn-error-fonatel">Cancelar</button>
    </div>
</div>





 
